<h1>Editing Commune</h1>

<%= render 'form', commune: @commune %>

<%= link_to 'Show', country_region_commune_path(@country, @region, @commune) %> |
<%= link_to 'Back', country_region_path(@country, @region) %>
